*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.container_header{
    display: flex;
    justify-content: space-between;
}
.first_photo{
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
}
.first_photo_h3{
    width: 440px;
    height: 100px;
    size: 40px;
    margin-left: 40px;

} 
.first_photo_p{
    margin-top: 40px;
    margin-left: 40px;
}
.first_btn{
    margin-top: 250px;
    margin-left: 600px;
}
h3{
    color: grey;
    margin-left: 30px;
}
.second_photo{
    display: flex;
    margin-bottom: 50px;
}    
.second_p{
    margin-top: 40px;
    margin-left: 40px;
} 
.third_photo{
    display: flex;
    margin-bottom: 50px;
}
.third_p{
    margin-top: 40px;
    margin-left: 40px;
}
.main_page{
    margin-top: 40px;
}
.footer_cont{
    background-color: #2C2C2C
    
 }
 .footer_container{
    display: flex;
    margin-top: 58px;
 }
 .first_child{
    margin-top: 58px;
    margin-left: 100px;
    margin-right: 150px;
    color: #fff;
 }
 .second_child{
    margin-top: 58px;
    margin-right: 80px;
    color: #fff;
 }
 .first_child h4, h5{
    margin-bottom: 25px;
}
.second_child h4, h5{
    margin-bottom: 25px;
}
.third_child img{
    margin-top: 26px;
    margin-right: 30px;
}
.third_child{
    margin-top: 58px;

    color: #fff;
}
.second_child a{
    color: #fff;
}
.logo_footer{
    margin-top: 58px;
}
.text_main{
    font-style: light;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}
.form{
    display: flex;
    gap: 0px 30px;
}
.form1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input1 {
    width: 391px;
    height: 46px;
    background: #F3F3F3;
    border: none;
}

.area1 {
    width: 391px;
    height: 147px;
    background: #F3F3F3;
    border: none;
}
.rasm{
    margin-top: 30px;
}
.figma2{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.figma2_p{
    margin-left: 30px;
}
.rams_uc{
    margin-top: 30px;
    margin-bottom: 30px;
}